@import "./src/display.css";
@import "./src/containers.css";
@import "./src/colorVariables.css";
@import "./src/bgColors.css";
@import "./src/textColors.css";
@import "./src/width.css";
@import "./src/height.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
