/* Colors */

/* Gray */
.txt-gray-0 {
  color: var(--gray-0);
}

.txt-gray-1 {
  color: var(--gray-1);
}

.txt-gray-2 {
  color: var(--gray-2);
}

.txt-gray-3 {
  color: var(--gray-3);
}

.txt-gray-4 {
  color: var(--gray-4);
}

.txt-gray-5 {
  color: var(--gray-5);
}

.txt-gray-6 {
  color: var(--gray-6);
}

.txt-gray-7 {
  color: var(--gray-7);
}

.txt-gray-8 {
  color: var(--gray-8);
}

.txt-gray-9 {
  color: var(--gray-9);
}

/* Tan */
.txt-tan-0 {
  color: var(--tan-0);
}

.txt-tan-1 {
  color: var(--tan-1);
}

.txt-tan-2 {
  color: var(--tan-2);
}

.txt-tan-3 {
  color: var(--tan-3);
}

.txt-tan-4 {
  color: var(--tan-4);
}

.txt-tan-5 {
  color: var(--tan-5);
}

.txt-tan-6 {
  color: var(--tan-6);
}

.txt-tan-7 {
  color: var(--tan-7);
}

.txt-tan-8 {
  color: var(--tan-8);
}

.txt-tan-9 {
  color: var(--tan-9);
}