:root {
  /*** Generic Colors ***/
  /* Gray */
  --gray-0: #f2f2f3;
  --gray-1: #d8d8da;
  --gray-2: #bebec1;
  --gray-3: #a4a4a8;
  --gray-4: #8a8a8f;
  --gray-5: #707075;
  --gray-6: #57575b;
  --gray-7: #3e3e41;
  --gray-8: #252527;
  --gray-9: #161617;

  /* Tan */
  --tan-0: #f9f5ec;
  --tan-1: #ede2c5;
  --tan-2: #e0cf9e;
  --tan-3: #d4bb77;
  --tan-4: #c8a851;
  --tan-5: #ae8e37;
  --tan-6: #886f2b;
  --tan-7: #614f1f;
  --tan-8: #3a2f12;
  --tan-9: #131006;

  /*** Theme Colors ***/

  /** Sakura **/
  --sakura: #f7cfe1;
  --sakura-light: #fef7fa;
  --sakura-dark: #282326;

  /* Monochromatic */
  --sakura-mono-0: #fffaff;
  --sakura-mono-1: #ffecfe;
  --sakura-mono-2: #ffddef;
  --sakura-mono-3: var(--sakura);
  --sakura-mono-4: #e8c1d3;
  --sakura-mono-5: #dab3c5;
  --sakura-mono-6: #cca5b7;

  /* Sakura Tints */
  --sakura-0: var(--sakura-light);
  --sakura-1: #fdeff5;
  --sakura-2: #fbe7f0;
  --sakura-3: #fadfeb;
  --sakura-4: #f9d7e6;
  --sakura-5: var(--sakura);
  --sakura-6: #c9a9b8;
  --sakura-7: #9d8590;
  --sakura-8: #74626a;
  --sakura-9: #4c4146;
  --sakura-10: var(--sakura-dark);
}
