/* Height */
.h-vh {
  height: 100vh;
}

.h-fit {
  height: fit-content;
}

.h-min {
  height: min-content;
}

.h-max {
  height: max-content;
}

.h-100,
.h-full {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.h-60 {
  height: 60%;
}

.h-50 {
  height: 50%;
}

.h-40 {
  height: 40%;
}

.h-30 {
  height: 30%;
}

.h-20 {
  height: 20%;
}

.h-10 {
  height: 10%;
}
